{% set data = {
    'address': {
        'street1' : null,
        'street2' : null,
        'city'    : null,
        'state'   : null,
        'zip'     : null,
        'country' : null,
    },
    'coords': {
        'lat'  : null,
        'lng'  : null,
        'zoom' : null,
    }
} %}

<script>

    // Ensure Address field config array exists
    if ('undefined' === typeof addressFieldConfigs) {
        var addressFieldConfigs = [];
    }

    // Transfer PHP data to JavaScript via Twig
    addressFieldConfigs.push({
        'handle': '{{ handle }}',
        'settings': {{ settings|json_encode|raw }},
        'data': {{ data|json_encode|raw }},
        'icons': {{ icons|json_encode|raw }},
    });

</script>

<div id="address-{{ handle }}">
    <address-field
        :settings="settings"
        :data="data"
        :icons="icons"
    ></address-field>
</div>
