{% import '_includes/forms' as forms %}
{% set autosuggest = 'google-maps/_form/autosuggest' %}
{% set dropdown = 'google-maps/_form/select' %}

{# Whether to display the page in "Welcome" mode #}
{% set welcome = craft.app.request.getQueryParam('welcome') %}

{# Path to documentation #}
{% set docs = 'https://plugins.doublesecretagency.com/google-maps' %}

{# On page load, show correct geolocation settings pane #}
{% js 'updateGeolocationService()' %}

{# Show intro message #}
{% if welcome %}
    {% set iconUrl = view.getAssetManager().getPublishedUrl('@doublesecretagency/googlemaps/icon.svg', true) %}
    <div class="pane" style="">
        <img src="{{ iconUrl }}" alt="" width="120" style="float:left; margin:12px;">
        <div style="padding-left: 160px">
            <h2>Welcome! Thanks for using the Google Maps plugin. &nbsp;🎉</h2>
            <p>Follow the instructions below to get started. If you haven't already, take a look at our <a href="{{ docs }}/" target="_blank">complete documentation...</a></p>
            <ol>
                <li><strong>Create and add a pair of Google API Keys.</strong> See the instructions for <a href="{{ docs }}/getting-started/api-keys/" target="_blank">how to create Google API keys</a>. These keys are required in order to ping the Google API.</li>
                <li>If you're using a geolocation service, <strong>add those credentials as well</strong>. Not sure how to implement it? Check out the complete docs regarding <a href="{{ docs }}/geolocation/" target="_blank">Visitor Geolocation</a>.</li>
            </ol>
        </div>
        <div style="clear:both"></div>
    </div>

    <hr>
{% endif %}

<h2>Google API Keys</h2>
<p>In order to use the Google API services, two separate API keys are needed. Both a <strong>browser key</strong> and <strong>server key</strong> are required.</p>
<p>For full details, please consult the documentation regarding <a href="{{ docs }}/getting-started/api-keys/" target="_blank">Google Maps API keys</a>.</p>
{% include autosuggest with {
    config: {
        label: "Google API Browser Key"|t('google-maps'),
        name: 'browserKey',
        required: true
    }
} %}
{% include autosuggest with {
    config: {
        label: "Google API Server Key"|t('google-maps'),
        name: 'serverKey',
        required: true
    }
} %}

{% if not welcome %}
    <div class="readable">
        <blockquote class="note tip">
            <p>Experiencing issues? <a href="{{ cpUrl('utilities/test-google-api-keys') }}">Test the Google API keys.</a></p>
        </blockquote>
    </div>
{% endif %}

<hr>

<h2>Visitor Geolocation</h2>
<p>You can use a third-party service to provide geolocation for your visitors, based on their detected IP address. IP-based geolocation is generally accurate to within a few miles/kilometers, which will be sufficient for the majority of purposes.</p>
<p>For more information, please check out the complete documentation on <a href="{{ docs }}/geolocation/" target="_blank">Visitor Geolocation</a>.</p>
{% include dropdown with {
    attr: [
        'onchange="updateGeolocationService()"'
    ],
    config: {
        label: "Geolocation Service"|t('google-maps'),
        id: 'geolocation-service',
        name: 'geolocationService',
        instructions: "Select a third-party service to provide geolocation results. [Read more...]({docs}/geolocation/service-providers/)"|t('google-maps', {'docs':docs}),
        value: settings.geolocationService ?? '',
        options: [
            { value: '',        label: 'None'|t('google-maps') },
            { value: 'ipstack', label: 'ipstack' },
            { value: 'maxmind', label: 'MaxMind' },
        ],
    }
} %}

<div id="ipstack" class="pane" style="display:none">
    <h2>ipstack API Configuration Settings</h2>
    <p style="font-style: italic">Required if using the ipstack geolocation service.</p>
    {% include autosuggest with {
        config: {
            label: "API Access Key"|t,
            name: 'ipstackApiAccessKey',
        }
    } %}
</div>

<div id="maxmind" class="pane" style="display:none">
    <h2>MaxMind API Configuration Settings</h2>
    <p style="font-style: italic">Required if using the MaxMind geolocation service.</p>
    {% include autosuggest with {
        config: {
            label: "User ID"|t('google-maps'),
            name: 'maxmindUserId',
        }
    } %}
    {% include autosuggest with {
        config: {
            label: "License Key"|t('google-maps'),
            name: 'maxmindLicenseKey',
        }
    } %}
    {% include dropdown with {
        config: {
            label: "GeoIP2 Service",
            id: 'maxmind-service',
            name: 'maxmindService',
            instructions: "Please specify which GeoIP2 Precision Web Service you have subscribed to."|t('google-maps'),
            value: settings.maxmindService ?? '',
            options: [
                { value: '',              label: '' },
                { value: 'country',       label: 'GeoIP2 Country' },
                { value: 'city',          label: 'GeoIP2 City' },
                { value: 'city_isp_org',  label: 'GeoIP2 City/ISP/Org' },
                { value: 'omni',          label: 'GeoIP2 Omni' },
            ],
        }
    } %}
</div>
