{% set data = {
    'address': {
        'street1' : (address.street1 ?? null),
        'street2' : (address.street2 ?? null),
        'city'    : (address.city ?? null),
        'state'   : (address.state ?? null),
        'zip'     : (address.zip ?? null),
        'country' : (address.country ?? null),
    },
    'coords': {
        'lat'  : (address.lat ?? null),
        'lng'  : (address.lng ?? null),
        'zoom' : (address.zoom ?? null),
    }
} %}

<script>

    // Ensure Address field config array exists
    if ('undefined' === typeof addressFieldConfigs) {
        var addressFieldConfigs = [];
    }

    // Transfer PHP data to JavaScript via Twig
    addressFieldConfigs.push({
        'handle': '{{ handle }}',
        'settings': {{ settings|json_encode|raw }},
        'data': {{ data|json_encode|raw }},
        'icons': {{ icons|json_encode|raw }},
    });

</script>

<div id="address-{{ handle }}">
    <address-field
        :handle="handle"
        :settings="settings"
        :data="data"
        :icons="icons"
    ></address-field>
</div>
